html {
  background-image: url("images/background.png");
  text-align: center;
  color: white;
}

h1 {
  font-size: 50px;
}
ol {
    width: 70%;
    margin: auto;
}

#formBox {
  height: 30px;
  width: 40%;
}

a {
  text-decoration: none;
  color: black
}

textarea {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 100%;
  height: 200%;
  resize: none;
}

#goBack {
  width: 10%;
  height: 30px;
}
