<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>

  <body>
    <h1>Results</h1>

    {{~> page}}

    <div>
    <button id="goBack" type="button"><a href="/static/index.html">Go Back</a></button>
    <form action="/showsteps" method = "post" >
        <input id="formBox" type="text" name= "solution" style="display:none;" value = "  {{items.question_solution}}"></input>
        <input type="submit" value="show steps">
   </form>
    </div>
  </body>
</html>
